# python files
*.pyc

# pyqt resources
resources_rc.py

# mkdocs documentation
/site

# other files
*.swp
*un~
*~
.idea/*

build

src/qgis_conefor/ui/symbology-style.db
src/qgis_conefor/ui/user-history.db
